# CAR RESALE VALUE

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import pickle

In [2]:
df = pd.read_csv(r"C:\Users\user\Desktop\CAR_RESALE_PROJECT\autos.csv", sep=',',encoding='Latin1',)

C:\Users\user\AppData\Local\Temp\ipykernel_3288\3464722464.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\user\Desktop\CAR_RESALE_PROJECT\autos.csv", sep=',',encoding='Latin1',)

In [3]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17

In [4]:
df.describe()

,price,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode
count,3.715380e+05,371537.000000,371538.000000,371537.000000,371537.0,371537.000000
mean,1.729544e+04,2004.577883,115.548840,5.734473,0.0,50820.666402
std,3.587905e+06,92.865496,192.137238,3.712383,0.0,25799.080292
min,0.000000e+00,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1.150000e+03,1999.000000,70.000000,3.000000,0.0,30459.000000
50%,2.950000e+03,2003.000000,105.000000,6.000000,0.0,49610.000000
75%,7.200000e+03,2008.000000,150.000000,9.000000,0.0,71546.000000
max,2.147484e+09,9999.000000,20000.000000,12.000000,0.0,99998.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371539 entries, 0 to 371538
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371539 non-null  object
 1   name                 371539 non-null  object
 2   seller               371538 non-null  object
 3   offerType            371538 non-null  object
 4   price                371538 non-null  float64
 5   abtest               371538 non-null  object
 6   vehicleType          333669 non-null  object
 7   yearOfRegistration   371537 non-null  float64
 8   gearbox              351329 non-null  object
 9   powerPS              371538 non-null  float64
 10  model                351054 non-null  object
 11  kilometer            371538 non-null  object
 12  monthOfRegistration  371537 non-null  float64
 13  fuelType             338151 non-null  object
 14  brand                371537 non-null  object
 15  notRepairedDamage    299477 non-null  object
 16  dateCreated          371537 non-null  object
 17  nrOfPictures         371537 non-null  float64
 18  postalCode           371537 non-null  float64
 19  lastSeen             371537 non-null  object
dtypes: float64(6), object(14)
memory usage: 56.7+ MB

In [6]:
#print a1 the different sellers
print(df.seller.value_counts())
#remove the seller type having only 3 cars
df[df.seller!='gewerblich']
#now all the sellers are same so we can get rid of this column
df=df.drop('seller', 1)

privat        371534
gewerblich         3
golf               1
Name: seller, dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_3288\228526828.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop('seller', 1)

In [7]:
#print a1 the different sellers
print(df.offerType.value_counts())
#remove the Offer Type having only 12 listings
df[df.offerType!='Gesuch']
#now all the offers are same so we can get rid of this column
df=df.drop('offerType',1)

Angebot    371525
Gesuch         12
150000          1
Name: offerType, dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_3288\297854657.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop('offerType',1)

In [8]:
print(df.shape)

(371539, 18)

In [9]:
df.head()

,dateCrawled,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11:52,Golf_3_1.6,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24-03-2016 00:00,0.0,70435.0,07-04-2016 03:16
1,24-03-2016 10:58,A5_Sportback_2.7_Tdi,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24-03-2016 00:00,0.0,66954.0,07-04-2016 01:46
2,14-03-2016 12:52,"Jeep_Grand_Cherokee_""Overland""",9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14-03-2016 00:00,0.0,90480.0,05-04-2016 12:47
3,17-03-2016 16:54,GOLF_4_1_4__3TÜRER,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17-03-2016 00:00,0.0,91074.0,17-03-2016 17:40
4,31-03-2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31-03-2016 00:00,0.0,60437.0,06-04-2016 10:17

In [10]:
#Cars having power less than 50ps and above 900ps seems a little suspicious,
#let's remove them and see what we 've got now
print (df. shape)
df = df[(df.powerPS > 50) & (df.powerPS < 900)]
print (df. shape)
#around 50000 cars ahave been removed which could have inrouduced error to our data
#simlarly, filtering our the cars having registeration years not in the mentio ed range
print(df. shape)
df = df[(df.yearOfRegistration > 1950) & (df.yearOfRegistration < 2017)]
print (df. shape)
#not much of a difference but still, 10000 rows have been reduced. it's bette
#get rid of faulty data instead of keeping them just to increase the size.
#to

(371539, 18)
(319717, 18)
(319717, 18)
(309173, 18)

In [11]:
df.yearOfRegistration.value_counts()

2005.0    19234
1999.0    19095
2006.0    18939
2000.0    18490
2003.0    17982
          ...
1955.0       11
1951.0       11
1956.0       10
1953.0        6
1952.0        3
Name: yearOfRegistration, Length: 66, dtype: int64

In [12]:
#removing irrelevant columns which are
#introduce bias, so removing them too-
df.drop(['name','abtest','dateCrawled','postalCode','dateCreated','nrOfPictures','lastSeen','postalCode','dateCreated'],axis='columns',inplace=True)

In [13]:
df.head()

,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300.0,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja
2,9800.0,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN
3,1500.0,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein
4,3600.0,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein
5,650.0,limousine,1995.0,manuell,102.0,3er,150000,10.0,benzin,bmw,ja

In [14]:
#dropping the duplicates from the dataframe and stroing it in a new df-
#here all rows having same value in all the mentioned columns will be deleted
#only first occurance of anysuch row is kept
new_df = df. copy()
new_df = new_df.drop_duplicates(['price','vehicleType','yearOfRegistration','gearbox','powerPS','model','monthOfRegistration','kilometer','fuelType','notRepairedDamage'])

In [15]:
#As the dataset contained some german words for many features, cahnging them to english
new_df.gearbox.replace(('manuell', 'automatik'), ('manual','automatic'), inplace=True)
new_df.fuelType.replace(('benzin','andere','elektro'),('petrol','others','electric'),inplace=True)
new_df.vehicleType.replace(('kleinwagen', 'cabrio','kombi','andere'),
                           ('small car','convertible','combination','others'),inplace=True)
new_df.notRepairedDamage.replace(('ja','nein'),('Yes','No'),inplace=True)

In [16]:
#### Removing the outliers
new_df = new_df[(new_df.price >= 100) & (new_df.price <= 150000)]
#Fi11ing NaN values for columns whose data might not be
#which might lead to some variance but our model
#but we will still be able to give some estimate to the user

new_df['notRepairedDamage'].fillna(value='not-declared',inplace=True)

new_df['fuelType'].fillna ('not-declared',inplace=True)

new_df['gearbox'].fillna('not-declared',inplace=True)

new_df['vehicleType'].fillna('not-declared',inplace=True)

new_df['model'].fillna('not-declared',inplace=True)

In [17]:
#can save the csv for future purpose-
new_df.to_csv("autos_preprocessed.csv")

In [18]:
#Columns which contain categorical values, which we'll need to convert via labe1 encoding
labels = [ 'gearbox', 'notRepairedDamage' , 'model' ,'brand', 'fuelType', 'vehicleType']

In [19]:
#looping over the labels to do the label encoding for all at once and
#saving the LABEL ENCODING FILES
mapper = {}
for i in labels:
  mapper[i] = LabelEncoder()
  mapper[i].fit(new_df[i])
  tr=mapper[i].transform(new_df[i])
  np.save(str('classes '+i+'.npy'), mapper[i] . classes_)
  print(i,":",mapper[i])
  new_df.loc [:, i + '_labels'] = pd.Series(tr, index=new_df.index)
#Fina1 data to be put in a new dataframe called "LABELED"
labeled = new_df[ [ 'price', 'yearOfRegistration', 'powerPS', 'kilometer','monthOfRegistration']+[x+"_labels" for x in labels]]
print(labeled.columns)

gearbox : LabelEncoder()
notRepairedDamage : LabelEncoder()
model : LabelEncoder()
brand : LabelEncoder()
fuelType : LabelEncoder()
vehicleType : LabelEncoder()
Index(['price', 'yearOfRegistration', 'powerPS', 'kilometer',
       'monthOfRegistration', 'gearbox_labels', 'notRepairedDamage_labels',
       'model_labels', 'brand_labels', 'fuelType_labels',
       'vehicleType_labels'],
      dtype='object')

In [20]:
#Storing price in Y and rest of the data in X
Y=labeled.iloc[:,0].values
X=labeled.iloc[:,1:].values

#need to to reshape the Y values
Y=Y.reshape(-1,1)

In [21]:
from sklearn.model_selection import cross_val_score,train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=3)
d=pd.DataFrame(X)
d.head()
#d.isnull().sum()

        0      1       2     3  4  5    6   7  8  9
0  2011.0  190.0  125000   5.0  1  1  162   1  1  3
1  2004.0  163.0  125000   8.0  0  2  118  14  1  8
2  2001.0   75.0  150000   6.0  1  0  117  38  7  7
3  2008.0   69.0   90000   7.0  1  0  102  31  1  7
4  1995.0  102.0  150000  10.0  1  1   11   2  7  4

In [22]:
#Model building and Fitting

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
regressor = RandomForestRegressor(n_estimators=1000,max_depth=10,random_state=34)

In [23]:
#fitting the model
regressor.fit(X_train, np.ravel(Y_train,order='C'))

RandomForestRegressor(max_depth=10, n_estimators=1000, random_state=34)

In [24]:
#predicting the values for testset
y_pred = regressor.predict(X_test)

#printing the Accuraccy for test set
print(r2_score(Y_test,y_pred))

0.8459768282230389

In [25]:
#saving the model for future use.
filename = 'resale_model.sav'
pickle.dump(regressor, open(filename, 'wb'))